# ==========================
# Database Configuration
# ==========================
DB_SERVER=DESKTOP-L8R1I3E
DB_DATABASE=nong_san_db
DB_USER=your_username
DB_PASSWORD=your_password

# ==========================
# Application
# ==========================
PORT=3000

# npx sequelize-auto -o "./src/models" -d nong_san_db -h localhost -u root -p 3306 -x "" -e mysql

